{{template "header" .}}
<form action='/board' method="post">
	<table id="table_board" class="writeForm board_table read">
		<colgroup>
			<col width="150">
			<col width="80%">
		</colgroup>
		<thead>
			<tr>
				<th colspan="2" id="articleRead">글쓰기</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>제목</td>
				<td><input type="text" name="Subject" size="20" placeholder="제목"><br></td>
			</tr>
			<tr>
				<td>작성자</td>
				
				<td><input type="text" name="Usernick" placeholder="작성자"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea name="Content" rows="5" cols="40" placeholder="내용"></textarea></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<p style="text-align: center;">
						<input type="submit" value="전송" />
						<input type="button" value="돌아가기" onclick="history.go(-1)" />
					</p>
				</td>
			</tr>
		</tfoot>
	</table>
</form>

{{template "footer"}}