{{template "header" .}}
<table id="table_board" class="writeForm board_table read">
	<thead >
		<tr>
			<th colspan="2" id="articleRead">글 읽기</th>
		</tr>
	</thead>
	<tbody>
		{{with .article}}
		<tr>
			<td>제목</td>
			<td>{{.Subject}}</td>
		</tr>
		<tr>
			<td>작성자</td>
			<td>{{.Usernick}}</td>
		</tr>
		<tr>
			<td>작성일</td>
			<td>{{.DayWrite.Format "2006-01-02"}}</td>
		</tr>
		<tr>
			<td>내용</td>
			<td>{{.Content}}</td>
		</tr>
		{{end}}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<p style="text-align: center;">
					<a href='/'>[목록]</a>
					<a href="/board/formUpdate/{{.article.Id}}">[수정]</a>
					<a href="/board/delete/{{.article.Id}}">[삭제]</a>
				</p>
			</td>
		</tr>
	</tfoot>
</table>


{{template "footer"}}